*
{
	padding: 0;
	margin : 0 ;
}
body
	{
	color:white;
	font-family:arial;
	background-color: black;
}

header {
		display: none;
}
nav ul {
		list-style-type: none;
		text-transform: uppercase;
		font-size: 1.5em;
}
nav li{
		display: none;		
}
nav li:first-child {
		display: block;
		text-align: center;
}
nav a {
		text-align:left;
		color:#FFF;
		border:none;
		text-decoration:none;	
}
article h1 {
	text-align: center;
}

#commande{
	
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
	background-color: grey;
	margin-top: 2%;
	text-align: center;
}

#intensite,#inclinaison,#rotor{
	width:90%;
	margin-bottom: 20px;
	padding: 10px 0;
	border: 2px solid red;
	text-align: center;
	margin-left: 5%;
}
input[type=range] {
    appearance: slider-horizontal; 
    width: 80%;
    height:auto;
    padding: 0 5px;
    background-color: red;
}
#gobos{
	margin: 20px 0;
}
.gobo {
	text-align: center;
	width:70px;
	border:2px inset black;
	padding:5px;
	margin: 11px;
	display: inline-block;
	transition: all 1s ease-out;
}
.gobo:hover {
	
	transform: scale(1.2);
	background-color: red;
	box-shadow: 5px 5px 12px black;
	border-radius: 5px;	
}

.gobo img {
	display:block;
	width:70px;
	height: 70px;
	margin-left: 0;
}

#color div{
	width:19%;
	height: 30px;
	display: inline-block;
	text-align: center;
	padding-top: 15px;
}
div#color{
	width: 90%;
	display: inline-block;
	border: 2px solid red;
	text-align: center;
}

.blanc{
	background-color: white;
}
.bleu{
	background-color: blue;
}
.jaune{
	background-color: yellow;
}
.red{
	background-color: red;
}
.magenta{
	background-color: magenta;
}
.cyan{
	background-color: cyan;
}
.green{
	background-color: green;
}
.orang{
	background-color: orange;
}
.violet{
	background-color: purple;
}
.rose{
	background-color: pink;
}
div#rota {

	width: 100% ;
	margin:auto ;
}

.sens img, .sens1 img{

	width: 90%;	
}
div.sens1 {
	padding : 0px ;
	width: 15% ;
}
div.sens {
	padding : 0px ;
	width: 15% ;
}
#bouton input[type="submit"] {
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	width:60%;
	height: 70px;
	background-color: green;
}
#bouton input[type="reset"] {
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	width:39%;
	height: 70px;
	background-color: red;
}

footer {
	font-size: 0.6em;
	text-align: right;
	font-style: italic;
	border-top: 2px solid white;
	margin-top: 2%;
}

/*média query : adaptation des éléments en fonction de la taille de l'écran*/
@media screen and (min-width: 800px) and (max-width: 1123px) {
	
	#page 
	{
		font-size: 0.9em;
		margin-bottom: 1%;
	}
	header {
		display: block;
	}
	header img 	{
		display: block;
		width: 30%;
		margin-left: 35%;
	}
	header h1 {
		font-size: 1.5em;
		text-align: center;
		margin: 3%;
	}
	nav
	{
		width: 20%;
		position:fixed;
	}
	nav li {
		display: block;
		margin-bottom: 1%;
		background-color: gray;
	}
	nav li:first-child{
		text-align: left;
	}	
	article
	{
		width: 78%;
		margin-left: 21%;
	}

}

/*média query : adaptation des éléments en fonction de la taille de l'écran*/
@media screen and (min-width: 1124px) {
	
	body {
		background-color: white;
		background:url("images/projecteur.png") no-repeat top left,
		url("images/projecteur.png") no-repeat bottom right;
	}
	#page {
		width : 80%;
		margin-left : 10% ; 
		background-color: black;
	}
	header {
		display: block;
	}
	header img {
		margin :1.3% 0.8%;	
		width: 12.5%;
	}
	header h1 {
		display: inline-block;
		position: absolute;
		font-size: 2em;
		left: 30%;
		top:5%;
	}
	nav ul {
		font-size: 1em;
	}
	nav li	{
		display: inline-block;
		width: 15%;
		margin-right: 1%;
		background-color: gray;
	}
	nav li:first-child	{
		display: inline-block;
		margin-left: 1.5%;
	}
	nav a {
		display:block;
		width: 100%;
		padding:2% 0;
		border:1px solid #FFFFFF;
		text-align: center;
	}
	nav a:hover {
		color:gray;
		background-color: white;
	}
	#intensite,#inclinaison,#rotor{
		width:10%;
		display: inline-block;
		margin-left: 0;

	}
	div#color{
		width: 55%;
		height:240px;
		display: inline-block;
		vertical-align: top;
	}
	input[type=range] {
	    transform:rotate(90deg);
	    height: 200px;
	    padding: 0 5px;
	    background-color: red;
	}
	}
